<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171244151688-0268trc2gi928sf5jpbk3fjc9a3clb6q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171244151688-0268trc2gi928sf5jpbk3fjc9a3clb6q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>171244151688-09n7m7epg7dglmnfon4jg0a3j05i5df4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDjhf1-2rEQxNIVQvBfRRF4tJoN7HeqfWM</string>
	<key>GCM_SENDER_ID</key>
	<string>171244151688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.evastocks.missan</string>
	<key>PROJECT_ID</key>
	<string>evastoks</string>
	<key>STORAGE_BUCKET</key>
	<string>evastoks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171244151688:ios:38ccf788c5e7eb8f81903d</string>
</dict>
</plist>