<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049091943287-86sf6av8cht5mqafimk18n8lnm2l3eli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049091943287-86sf6av8cht5mqafimk18n8lnm2l3eli</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1049091943287-h9sg7s55e35b9kod97th6nfubdlckf58.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB8buhDT11b0DudM29LpKAbpH9vB285EiE</string>
	<key>GCM_SENDER_ID</key>
	<string>1049091943287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.Eva.missaan.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>eva-app-6c969</string>
	<key>STORAGE_BUCKET</key>
	<string>eva-app-6c969.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049091943287:ios:1ac0baccc0dce550140f72</string>
</dict>
</plist>